.AgentCard {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-height: 20vh;
    border-bottom-style: solid;
    border-radius: 1px;
    border-color: #9FA8DA;
}

.AgentInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.AgentCard .AgentInfo h1 {
    font-size: x-large;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    margin: 0;
    font-weight: bold;
}

.AgentCard .AgentInfo h2 {
    font-size: larger;
    font-weight: normal;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-bottom: 0.5%;
    margin: 0;
}


.AgentCard .Profile {
    width: 10%;
    font-size: large;
    padding: 1%;
    color: black;
}

.AgentCard .Profile .Icon {
    display: block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}



