
.Wrapper {
    display: flex;
    flex-direction: column;
    width:35%;
    margin-top: 3%;
    margin-left: auto;  
    margin-right: auto;
    height: calc(100vh - 100px);
}

.Wrapper img { 
    width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Wrapper h1 {
    font-weight: normal;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.Wrapper .Text {
    width: 80%;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

.Wrapper .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10%;
    padding-top: 5%
}

.Wrapper .Button {
    color: rgb(53, 52, 52);
    padding-left: 3%;
    padding-right: 3%;
}
